# AI Modelleri
GEMINI_API_KEY=buraya_kendi_gemini_keyinizi_yazin
TOGETHER_API_KEY=buraya_kendi_together_keyinizi_yazin
FAL_API_KEY=buraya_kendi_fal_keyinizi_yazin

# Etsy Veri Kaynakları
ETSYHUNT_API_KEY=buraya_kendi_etsyhunt_keyinizi_yazin
